{% extends 'base.html.twig' %}

{% block header %}
    {% include 'includes/header.html.twig' %}
{%  endblock %}

{% block body %}
    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="flash-notice alert alert-danger">
            {{ flash_message }}
        </div>
    {% endfor %}
{% endblock %}


{% block footer %}
    {% include 'includes/footer.html.twig' %}
{% endblock %}