{% extends 'base.html.twig' %}

{% block header %}
    {% include 'includes/header.html.twig' %}
{%  endblock %}

{% block body %}
    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="flash-notice alert alert-danger">
            {{ flash_message }}
        </div>
    {% endfor %}
{% endblock %}


{% block footer %}
    <div id="footer" class="navbar-default">
        <div class="container-fluid"></div>
    </div>
{% endblock %}