body {
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a:link {
    text-decoration: none;
}

a {
    color: #740000;
}

#headerLogo {
    width: 100%;
    background-color: #bf0000;
}

.wrap{
    flex: 1;
    padding-bottom: 10px;
}


.productMenu {
    margin: 0;
}

/* glyphicon*/
.logo {
    color: #e3dee2;
}

/* .navbar */
.sub {
    background-color: #414141;
}

.navbar .navbar-inner {
    padding: 0;
}

.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}

@media (min-width: 768px){
.navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
}}

.navbar .nav li a {
    font-weight: bold;
    text-align: center;
    color: #e3dee2;
}

.navbar .nav li a:hover {
    text-decoration: none;
    color: #e3dee2;
    background: #222222;
}

/* Page title*/
.title {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 2px;
}

/* footer*/
#footer {
    background: #414141;
    color: #e3dee2;
    height: 35px;
    width: 100%;
}

/*  media-cards */
.media-container {
    float: left;
    padding-top: 5px;
    margin-left: 5px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #b7b7bc;
}

.media-info {
    background-color: white;
    width: 148px;
}

.media-title {
    text-align: center;
    display: block;
    color: #740000;
}

/* Flash messages */
.flash-notice {
    font-size: 18px;
    color: #740000;
    text-align: center;
}

/* carousel*/
#carousel {
    padding-bottom: 12px;
}


/* media page */
.media-content {
    background-color: white;
    text-align: center;
}

.media-options {
    margin-left: 10px;
    margin-top: 15px;
    text-align: center;
}

.media-big-title {
    color: #740000;
}

.media-persons {
    margin-top: 20px;
    text-align: center;
}

.media-titles {
    background-color: #bf0000;
    color: #e3dee2;
    margin: 15px 0 15px;
}

.media-plot {
    margin-top: 20px;
}

.media-image {
    background-color: white;
    margin-right: 10px;
}

#media-actions {
    background-color: #f0f0f0;
}

#ximage {
    max-width:100%;
    margin: 10px auto 10px;
    display: table;
}

/* media comments */
.comment-text {
    text-align: left;
}

.comment-content {
    margin-top: 10px;
    color: #9f9fa3;
}

/* login */
.ccc{
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
    background-color: #93282e;
}

.login-box {
    background-color: #9f9fa3;
    padding: 0 5px 10px 5px;
    float: none;
    margin: 0 auto;
    border-radius: 5px;
}

.company-name {
    text-align: center;
}

/* user */
.user-profile {
    margin: 10px 0 10px;
}

.user-profile a {
    color: #e3dee2;
}

/* FOSUser */
.fos_user_user_profile {
    padding: 0 10px 10px 10px;
    float: none;
    margin: 20px auto;
    border-radius: 5px;
    background-color: white;
}

.profile-title {
    text-align: center;
}

#user_reset_password_text {
    margin-bottom: 10px;
}

.fos-reset {
    margin-top: 5%;
}

.search-bar {
    margin-top: 10px;
}
