<div id="footer" class="container">
    <div class="footer-copyrigth col-xs-5 col-md-2">
        kveo &copy;{{ 'now'|date('Y') }}
    </div>
    <div class="footer-links">
        <i class="fa fa-hand-spock-o col-md-3 col-xs-10"> {{ 'footer.created_by'|trans }}</i>
        <a href="https://github.com/n0ni0" target="_blank"><i class="fa fa-github col-md-1 col-xs-8"> Github</i></a>
        <a href="{{ path('contact_form') }}"><i class="fa fa-send col-md-1 col-xs-8"> {{ 'contact'|trans }}</i></a>
    </div>
</div>