<div class="title">
    <h2>kveo | Formulario de contacto </h2><br>
</div>
<div class="description">
    <strong>Nuevo mensaje de: </strong> {{ name }} <br>
    <strong>Enviado desde:</strong> {{ email }} <br>
</div>
<div class="message">
    <strong>Mensaje:</strong> {{ message }} <br>
</div>
<div class="noreply">
    <p>Nos pondremos en contacto con usted lo antes posible, gracias por contactar con kveo.</p>
</div>